@import "colors";

header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 4;
  nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
    background-color: white;
    align-items: center;
    padding: 3em 0rem 3em;

    .menu {
      > span {
        display: block;
        width: 26px;
        height: 3px;
        background-color: $blackColor;
        transition: all 0.3s ease-in-out;
        transform-origin: 2px 1px;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      &.open {
        > span:first-child {
          transform: rotate(45deg);
        }
        > span:nth-child(2) {
          opacity: 0;
        }
        > span:last-child {
          transform: rotate(-45deg);
        }
      }
    }

    .logo {
      text-decoration: none;
      display: grid;
      place-items: center;
      width: 10rem;
      img {
        width: 100%;
        height: auto;
      }
    }

    .nav__menu {
      list-style: none;
      padding: 0;

      a {
        font-size: 0.875rem;
        color: $blackColor;
        letter-spacing: 0.14px;
        text-decoration: none;
        font-weight: 500;

        &:not(:last-child) {
          margin-right: 32px;
        }
      }

      a:hover {
        color: $greyColor;
        transition: 0.5s all ease-in-out;
      }
    }
  }
}

.mobileMenu {
  background-color: white;
  padding: 1.625rem 2.5rem;
  height: 100vh;
  display: none;
  transition: 0.5s all ease-in-out;

  a {
    display: block;
    color: $blackColor;
    padding: 0.625rem;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.main {
  width: 100vw;

  .mainbody {
    background-color: black;
    width: 100%;
    height: 60vh;
    position: relative;
    .mainimg {
      width: 100%;
      height: 100%;
      background: transparent;
    }
    .banner__text-container {
      z-index: 3;
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: white;
      transform: translateY(-80%);

      .bannerHeader {
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: normal;
      }
      .bannerSubText {
        font-size: 0.85rem;
        font-family: "PT Serif", serif;
        letter-spacing: 0.5px;
      }
    }
  }

  .greetingsDiv {
    padding: 5em 0em 5em;
    width: 90vw;
    margin: 0 auto;
    text-align: center;

    .greetingsHeader {
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;
    }

    .greetingsSubtext {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      line-height: 30px;
      max-width: 700px;
      font-family: "PT Serif", serif;
      margin: 2rem auto;
    }

    .greetingBttn {
      padding: 1rem 3rem;
      color: $blackColor;
      background-color: white;
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: uppercase;
      outline: none;
      cursor: pointer;
      border: 2px solid $blackColor;
      letter-spacing: 1px;
    }

    .greetingBttn:hover {
      color: white;
      background-color: $blackColor;
      border: 2px solid $blackColor;
      transition: 0.3s all ease-in-out;
    }

    .greetingsSocialUl {
      display: flex;
      list-style: none;
      width: 60%;
      margin: 2rem auto 0;
      max-width: 200px;
      padding: 0;
      justify-content: space-evenly;
      li {
        i {
          font-size: 1.5rem;
          color: $blackColor;
        }

        i:hover {
          color: $greyColor;
          transition: 0.3s all ease-in-out;
        }
      }
    }
  }

  .videoDiv {
    width: 100%;
    text-align: center;
    margin: 0 auto;

    .vidinfo {
      padding-bottom: 6rem;
      h1 {
        font-size: 1.1em;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        color: $blackColor;
      }

      .iframe__container {
        width: 90vw;
        max-width: 800px;
        height: auto;
        position: relative;
        padding-bottom: 26.25%;
        margin: 0 auto;

        @include breakpoint-down(medium) {
          padding-bottom: 56.25%;
        }

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          max-height: 499px;
        }
      }
    }
  }

  .visualJournalDiv {
    width: 100%;
    position: relative;
    height: 70vh;
    background-color: black;
    margin-bottom: 5rem;

    .vjImgDiv {
      background-image: url(../img/vj1.jpg);
      background-position: center;
      background-size: cover;
      width: 100%;
      background-attachment: fixed;
      height: 100%;
      opacity: 0.8;
      background-repeat: no-repeat;
    }

    .vjInfoDiv {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: white;
      transform: translateY(-50%);

      h1 {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: normal;
        margin: 2rem 0;
      }

      span {
        font-size: 0.95rem;
        font-family: "PT Serif", serif;
        letter-spacing: 0.5px;
      }

      .vjBttn {
        padding: 1rem 3rem;
        color: $blackColor;
        background-color: transparent;
        font-size: 0.9rem;
        font-weight: bold;
        text-transform: uppercase;
        outline: none;
        color: white;
        cursor: pointer;
        border: 2px solid white;
        letter-spacing: 1px;
      }

      .vjBttn:hover {
        color: $blackColor;
        background-color: white;
        border: 2px solid white;
        transition: 0.3s all ease-in-out;
      }
    }
  }

  .masterinfo {
    padding: 0 0 5rem;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100vw;

    .info {
      text-align: center;
      display: inline;

      h1 {
        font-size: 1.1em;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        color: $blackColor;
        padding: 0;
        margin: 0;
        margin-bottom: 2rem;
        font-weight: 600;
      }

      .subinfo {
        margin: 0 auto;
        width: 90vw;
        display: grid;
        box-sizing: border-box;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        row-gap: 5rem;

        .block-photographer {
          margin: 0 auto;
          width: 100%;
          overflow: hidden;

          .whatelseinfo1 {
            width: 85%;
            max-width: 600px;
            margin: 0 auto;
          }

          .photo1 {
            background-image: url(../img/photo.jpg);
            background-size: cover;
            background-position: center;
            width: 80%;
            margin: 0 auto;
            height: 30vh;
          }
        }

        .block-coder {
          margin: 0 auto;
          overflow: hidden;
          width: 100%;
          box-sizing: border-box;

          .whatelseinfo2 {
            width: 85%;
            max-width: 600px;
            margin: 0 auto;
          }

          .photo2 {
            background-image: url(../img/coding.jpg);
            background-size: cover;
            background-position: center;
            width: 80%;
            margin: 0 auto;
            height: 30vh;
          }
        }

        .block-photographer h1,
        .block-coder h1 {
          margin: 1em 0;
          font-size: 1.1rem;
        }

        p {
          color: $blackColor;
          font-size: 1rem;
          font-weight: normal;
          padding-bottom: 20px;
          font-family: "PT Serif", serif;
          line-height: 30px;
        }

        button {
          padding: 0.8rem 2rem;
          color: $blackColor;
          background-color: white;
          font-size: 0.8em;
          font-weight: 600;
          text-transform: uppercase;
          outline: none;
          cursor: pointer;
          border: 2px solid $blackColor;
          letter-spacing: 3px;
        }

        button:hover {
          color: white;
          background-color: $blackColor;
          border: 2px solid $blackColor;
          transition: 0.3s all ease-in-out;
        }
      }
    }
  }
}

footer {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;

  h3 {
    color: $greyColor;
    font-size: 0.7rem;
    padding: 0 0 1rem;
    margin: 0;
  }

  .footerSocialUl {
    display: flex;
    list-style: none;
    width: 60%;
    margin: 2rem auto 0;
    max-width: 200px;
    padding: 1rem 0 1rem;
    justify-content: space-evenly;
    li {
      i {
        font-size: 1.3rem;
        color: $blackColor;
      }

      i:hover {
        color: $greyColor;
        transition: 0.3s all ease-in-out;
      }
    }
  }
}
