html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}

header nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 0rem 3em;
}

header nav .menu > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #020300;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: 2px 1px;
          transform-origin: 2px 1px;
}

header nav .menu > span:not(:last-child) {
  margin-bottom: 5px;
}

header nav .menu.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header nav .menu.open > span:nth-child(2) {
  opacity: 0;
}

header nav .menu.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header nav .logo {
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 10rem;
}

header nav .logo img {
  width: 100%;
  height: auto;
}

header nav .nav__menu {
  list-style: none;
  padding: 0;
}

header nav .nav__menu a {
  font-size: 0.875rem;
  color: #020300;
  letter-spacing: 0.14px;
  text-decoration: none;
  font-weight: 500;
}

header nav .nav__menu a:not(:last-child) {
  margin-right: 32px;
}

header nav .nav__menu a:hover {
  color: #D3D3D3;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.mobileMenu {
  background-color: white;
  padding: 1.625rem 2.5rem;
  height: 100vh;
  display: none;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.mobileMenu a {
  display: block;
  color: #020300;
  padding: 0.625rem;
  text-transform: uppercase;
  font-weight: 500;
}

.main {
  width: 100vw;
}

.main .mainbody {
  background-color: black;
  width: 100%;
  height: 60vh;
  position: relative;
}

.main .mainbody .mainimg {
  width: 100%;
  height: 100%;
  background: transparent;
}

.main .mainbody .banner__text-container {
  z-index: 3;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}

.main .mainbody .banner__text-container .bannerHeader {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
}

.main .mainbody .banner__text-container .bannerSubText {
  font-size: 0.85rem;
  font-family: "PT Serif", serif;
  letter-spacing: 0.5px;
}

.main .greetingsDiv {
  padding: 5em 0em 5em;
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.main .greetingsDiv .greetingsHeader {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.main .greetingsDiv .greetingsSubtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  max-width: 700px;
  font-family: "PT Serif", serif;
  margin: 2rem auto;
}

.main .greetingsDiv .greetingBttn {
  padding: 1rem 3rem;
  color: #020300;
  background-color: white;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  border: 2px solid #020300;
  letter-spacing: 1px;
}

.main .greetingsDiv .greetingBttn:hover {
  color: white;
  background-color: #020300;
  border: 2px solid #020300;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.main .greetingsDiv .greetingsSocialUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 60%;
  margin: 2rem auto 0;
  max-width: 200px;
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .greetingsDiv .greetingsSocialUl li i {
  font-size: 1.5rem;
  color: #020300;
}

.main .greetingsDiv .greetingsSocialUl li i:hover {
  color: #D3D3D3;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.main .videoDiv {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.main .videoDiv .vidinfo {
  padding-bottom: 6rem;
}

.main .videoDiv .vidinfo h1 {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: #020300;
}

.main .videoDiv .vidinfo .iframe__container {
  width: 90vw;
  max-width: 800px;
  height: auto;
  position: relative;
  padding-bottom: 26.25%;
  margin: 0 auto;
}

@media (max-width: 63.9375em) {
  .main .videoDiv .vidinfo .iframe__container {
    padding-bottom: 56.25%;
  }
}

.main .videoDiv .vidinfo .iframe__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 499px;
}

.main .visualJournalDiv {
  width: 100%;
  position: relative;
  height: 70vh;
  background-color: black;
  margin-bottom: 5rem;
}

.main .visualJournalDiv .vjImgDiv {
  background-image: url(../img/vj1.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  height: 100%;
  opacity: 0.8;
  background-repeat: no-repeat;
}

.main .visualJournalDiv .vjInfoDiv {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .visualJournalDiv .vjInfoDiv h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 2rem 0;
}

.main .visualJournalDiv .vjInfoDiv span {
  font-size: 0.95rem;
  font-family: "PT Serif", serif;
  letter-spacing: 0.5px;
}

.main .visualJournalDiv .vjInfoDiv .vjBttn {
  padding: 1rem 3rem;
  color: #020300;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  letter-spacing: 1px;
}

.main .visualJournalDiv .vjInfoDiv .vjBttn:hover {
  color: #020300;
  background-color: white;
  border: 2px solid white;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.main .masterinfo {
  padding: 0 0 5rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
}

.main .masterinfo .info {
  text-align: center;
  display: inline;
}

.main .masterinfo .info h1 {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #020300;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 600;
}

.main .masterinfo .info .subinfo {
  margin: 0 auto;
  width: 90vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 5rem;
}

.main .masterinfo .info .subinfo .block-photographer {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.main .masterinfo .info .subinfo .block-photographer .whatelseinfo1 {
  width: 85%;
  max-width: 600px;
  margin: 0 auto;
}

.main .masterinfo .info .subinfo .block-photographer .photo1 {
  background-image: url(../img/photo.jpg);
  background-size: cover;
  background-position: center;
  width: 80%;
  margin: 0 auto;
  height: 30vh;
}

.main .masterinfo .info .subinfo .block-coder {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .masterinfo .info .subinfo .block-coder .whatelseinfo2 {
  width: 85%;
  max-width: 600px;
  margin: 0 auto;
}

.main .masterinfo .info .subinfo .block-coder .photo2 {
  background-image: url(../img/coding.jpg);
  background-size: cover;
  background-position: center;
  width: 80%;
  margin: 0 auto;
  height: 30vh;
}

.main .masterinfo .info .subinfo .block-photographer h1,
.main .masterinfo .info .subinfo .block-coder h1 {
  margin: 1em 0;
  font-size: 1.1rem;
}

.main .masterinfo .info .subinfo p {
  color: #020300;
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 20px;
  font-family: "PT Serif", serif;
  line-height: 30px;
}

.main .masterinfo .info .subinfo button {
  padding: 0.8rem 2rem;
  color: #020300;
  background-color: white;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  border: 2px solid #020300;
  letter-spacing: 3px;
}

.main .masterinfo .info .subinfo button:hover {
  color: white;
  background-color: #020300;
  border: 2px solid #020300;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

footer {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer h3 {
  color: #D3D3D3;
  font-size: 0.7rem;
  padding: 0 0 1rem;
  margin: 0;
}

footer .footerSocialUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 60%;
  margin: 2rem auto 0;
  max-width: 200px;
  padding: 1rem 0 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footerSocialUl li i {
  font-size: 1.3rem;
  color: #020300;
}

footer .footerSocialUl li i:hover {
  color: #D3D3D3;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
/*# sourceMappingURL=main.css.map */